{% include'header.twig' %}
</head>
<body>
        <div id="right-container" class="col-md-5 col-xs-12">
            <div id="right-cell">

                <h4>Login</h4>

                <div class="row center-block" style="padding-bottom:4px;">
                    <form method="post" class="form-horizontal" role="form" id="formlogin">
                        <input class="btn btn-info btn-sm" type="text" name="user" value="" placeholder="(Username)"/>
                        <input class="btn btn-info btn-sm" type="password" name="pass" value=""
                               placeholder="(Password)"/>
                        <input class="btn btn-info btn-sm" type="submit" id="formlogin" name="Login" value="Login"/>
                    </form>
                </div>
            </div>
        </div>

</body>
</html>