<div>
    <h4>Select Session</h4>
    <div class="row center-block" style="padding-bottom:4px;">
        <form method="get" class="form-horizontal" role="form" id="plot_selector">
            <select id="id" name="id" class="form-control chosen-select" data-placeholder="Select Session..." style="width:100%;">
            </select>
        </form>
        <form method="get" class="form-horizontal" role="form" id="variable_selector">
            <h4>Select variables to Plot</h4>
            <select data-placeholder="Choose OBD2 data..." multiple class="chosen-select" style="width:100%;" id="plot_data" name="plotdata[]">
            </select>
        </form>
    </div>
</div>